# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^employee/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^employee/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]
